* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {  		
box-sizing: inherit;
}	

html {	
	font:  normal 1rem  'Open Sans', sans-serif;  		
	box-sizing: border-box;		  
}


header, section{
    margin: 100px auto;
    text-align: center;
}

p {
    display: inline;
    margin-right: 50px;
    font-size: 1.3rem;
}

a { 
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration:none;
    padding:15px;
    border-radius: 5px;
    background-color:darkgoldenrod;
}
a:hover{
    background-color:palevioletred;
    color:#fff;
}

table {
    margin:0 auto;
}

tr {
    background-color:mediumaquamarine;
    padding:30px;
}
td {
    width:80px;
    height:80px;
}
td.pink {
    background-color:hotpink;
}

td.orange {
     background-color:darkorange;
}
@media screen and (max-width: 600px) {
    section p{
        display: block;
    }
}
